{% extends "layout.html" %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="POST" action="{{ url_for('register') }}">
                <div class="form-group">
                    <label for="exampleInputEmail">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <br>
            <div>
                Have an account? <a href="{{ url_for('login') }}">Sign in here</a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}